@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/

html {
	font-size: 16px;
}

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

.row:after {
	clear: both;
	content: "";
	display: table;
}

/** 1.0 - Typography **/

* {
	color: #2f2f30;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

blockquote p:first-child, h2, h3 {
	font-family: 'IM Fell English', serif;
}

/** 1.1 - Headings **/

blockquote p, #navbar-default a {
	color: #fff;
}

blockquote p:first-child {
	font-size: 3.3rem;
	margin-bottom: 20px;
}

blockquote p:last-child {
	font-size: 1.18rem;
	margin-bottom: 60px;
}

h2 {
	font-size: 3.1rem;
}

h3, h4 {
	font-size: 1.6rem;
}

#about h2, #process h2, #contact h2 {
	margin-bottom: 0;
}

/** 1.2 - Body Copy **/

p {
	font-size: 1rem;
}

#intro-p {
	font-size: 1.15rem;
}

#htb-link, #htb-link a {
	font-size: .8rem;
}

/** 1.3 - Buttons **/

a {
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

ul li {
	display: inline-block;
}

#hero a {
	color: #fff;
}

#hero .btn a {
	border: 2px solid #fff;
	margin: 20px;
	padding: 8px 20px;
}

#hero .btn a:last-child {
	padding: 8px 30px;
}

#htb-link a {
	text-transform: capitalize;
	text-decoration: underline;
}


/** 1.4 - Forms **/

#subscribe label {
	display: none;
}

#subscribe h4, #subscribe input, #subscribe p {
	display: inline-block;
	float: left;
}

#subscribe h4 {
	padding-right: 20px;
}

input, textarea {
	display: block;
	width: 100%;
}

form {
	text-align: left;
}

#subscribe input {
	width: 45%;
}

/** 1.5 - Lists **/



.product-specs {
	margin-top: 0;
	padding-left: 0;
	text-align: left;
}

.product-specs li {
	font-size: .9rem;
}

.product-specs li:nth-child(2) {
	border-left: 1px solid #000;
	border-right: 1px solid #000;

}

#evening+div .product-specs li:nth-child(2) {
	padding: 0 40px;
	margin: 0 40px;
}

#house+div .product-specs li:nth-child(2) {
	padding: 0 25px;
	margin: 0 25px;
}

#sunrise+div .product-specs li:nth-child(2) {
	padding: 0 19px;
	margin: 0 19px;
}

#midnight+div .product-specs li:nth-child(2) {
	padding: 0 28px;
	margin: 0 28px;
}

#espresso+div .product-specs li:last-child {
	border-right: none;
	padding-left: 17px;
	margin-left: 17px;
}


/** 2.0 - Navigation Menus **/

/** 2.1 - Main **/

h1 {
	display: none;
}

#navbar-default li:nth-child(3) a {
	height: 69px;
	width: 100px;
	background: url(../img/logo-h.png) no-repeat;
	padding: 12px 20px;
	display: inline-block;
	background-position: 0 0;
}


header ul {
	padding: 20px 0 5px;
}

nav li {
	padding: 0 20px;
	vertical-align: middle;
}

/** 2.3 - Footer Nav **/

footer nav {
	padding-top: 18px;
}

footer nav li {
	padding: 0 10px;
}

footer nav a {
	font-size: .8rem;
}


/** 3.0 - Content **/

/** 3.1 - Site Structure **/

[class*='col-'] {
	margin: 0 auto;
	padding-right: 20px;
}

[class*='col-']:last-child {
	padding-right: 0;
}

section {
	padding: 15px 0 60px;
}




/** IMAGE PLACEHOLDERS **/

.bg-lgt-blue {
	padding: 20px;
	height: 100%;
	background-color: #e8f5f4;
	width: 100%;
}

#products .col-1-2 .gray {
	height: 300px;
}

#products .col-1-3 .gray {
	height: 200px;
}

#map {
	height: 400px;
}

#subscribe, #hero, footer {
	background-color: #9dd8d7;
	width: 100%;
}



/** 3.2 - Site Header **/

#hero {
	background-image: url(../img/hero.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0 100px;
}

/** 3.3 - Site Footer **/

footer img {
	margin: 20px 0;
}

/** 4.0 - Media **/

#social-media a {
	height: 30.5px;
	width: 30px;
	padding: 12px 20px;
	display: inline-block;
	background-position: 0 0;
}

#social-media li {
	display: inline-block;
}

#social-media li:first-child a { 
	background: url(../img/icon-fb.png) no-repeat;
}

#social-media li:nth-child(2) a { 
	background: url(../img/icon-tw.png) no-repeat;
}

#social-media li:last-child a { 
	background: url(../img/icon-gplus.png) no-repeat;
}

#social-media li a:hover {
	background-position: 0 -30.5px;
}



/**footer {
	background-color: #59c4be;
} **/

/**.d-gray {
	height: 100px;
}**/

/** 5.0 - UTILITIES **/

/** 5.1 - Text Alignments **/

h3, h4, #products p, #shipping p {
	text-align: left;
}

/** 5.3 - Alignments **/

.f-left {
	float: left;
}

.f-right {
	float: right;
}

/** COLUMN WIDTHS **/


.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6  {
	width: 16.66%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-3-7 {
	width: 42.84%;
}

.col-4-7 {
	width: 57.12%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-2-9 {
	width: 22.22%;
}

.col-7-9 {
	width: 77.77%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-5-11 {
	width: 45.45%;
}

.col-6-11 {
	width: 54.54%;
}

.col-1-12 {
	width: 8.33%;
}

.col-2-12 {
	width: 16.66%;
}

.col-3-12 {
	width: 24.99%;
}

.col-10-12 {
	width: 83.3%;
}

@media screen and (min-width: 1024px) {
	
	/** 2.1 - Main Nav **/
	#navbar-default {
		background-color:transparent;
		color: #FFF;
	}

	#navbar-default  {
		position: fixed;
		top: 0;
		left: 0;
		margin-top: -20px;
		width: 100%;
		z-index: 9999;
	}
	
	/** 3.1 - Site Structure **/
	.flex {
		-moz-display: flex;
		-o-display: flex;
		-ms-display: flex;
		-webkit-display: flex;
		display: flex;
		overflow: hidden;
		margin-bottom: 20px;
	}

	.flex[class*='col-'] {
		flex: 1;
	}


}

@media screen and (max-width: 768px) {
	
	.wrapper {
		margin: 0 auto;
		width: 90%;
	}
	
	[class*='col-'] {
		width: 100%;
		margin-right: 0;
	}
	
	/** 1.1 - Headings **/
	
	blockquote p:first-child {
		font-size: 2rem;
	}
	
	h2 {
		font-size: 2.2rem;
	}
	
	h3 {
		font-size: 1.7rem;
	}
	
	h4 {
		font-size: 1.4rem;
	}
	
	/** 1.2 - Body **/
	
	p {
		font-size: 1rem;
	}
	
	/** 1.3 - Buttons **/
	
	#hero .btn a {
		margin: 10px;
		padding: 5px 10px;
	}
	
	#hero .btn a:last-child {
		margin: 10px;
		padding: 5px 20px;
	}
	
	header ul {
		padding: 75px 0 50px;
	}
	
	header nav li:nth-child(3) {
		display: block;
		position: absolute;
		top: 0;
		left: 33%;
	}
	
	nav li {
		padding: 0 5px;
	}
	
	
	
	/** 3.1 Site Structure **/
	
	#hero{
		padding-top: 5px;
	}
	
	
}

